esphome:
  name: ${devicename}
  project:
    name: "Shelly.1"
    version: "1.0"

esp8266:
  board: esp01_1m
  restore_from_flash: true

preferences:
  flash_write_interval: 10min

# Turn on the web server
web_server:

wifi:
  min_auth_mode: WPA2

# Turn on the prometheus /metrics endpoint
prometheus:

logger:
  baud_rate: 9600
  level: DEBUG

switch:
  - platform: gpio
    pin: GPIO4
    name: "${human_devicename}"
    restore_mode: restore_default_off
    icon: "${icon}"

binary_sensor:
  - platform: gpio
    pin:
      number: GPIO5
      mode: INPUT_PULLUP
      inverted: True
    name: "${human_devicename} Button"
