esphome:
  name: ${devicename}

esp8266:
  board: esp01_1m
  restore_from_flash: true

preferences:
  flash_write_interval: 10min

# Turn on the web server
web_server:

# Turn on the prometheus /metrics endpoint
prometheus:

logger:
  baud_rate: 0
  level: DEBUG

uart:
  tx_pin: 1
  rx_pin: 3
  baud_rate: 115200

sensor:
  # NTC Temperature
  - platform: ntc
    sensor: temp_resistance_reading
    name: "${human_devicename} Temperature"
    unit_of_measurement: "°C"
    device_class: temperature
    state_class: measurement
    accuracy_decimals: 1
    icon: "mdi:thermometer"
    calibration:
      b_constant: 3350
      reference_resistance: 10kOhm
      reference_temperature: 298.15K
    on_value_range:
      - above: ${max_temp}
        then:
          - logger.log: "Switch turned off because temperature exceeded ${max_temp}°C"
          - homeassistant.service:
              service: persistent_notification.create
              data:
                title: "Message from ${human_devicename}"
              data_template:
                message: "Switch turned off because temperature exceeded ${max_temp}°C"
  - platform: resistance
    id: temp_resistance_reading
    sensor: temp_analog_reading
    configuration: DOWNSTREAM
    resistor: 32kOhm
    internal: true
  - platform: adc
    id: temp_analog_reading
    pin: A0
    internal: true

  - platform: integration
    name: "${human_devicename} Total Energy"
    sensor: power_dimmer
    time_unit: h
    unit_of_measurement: kWh
    device_class: energy
    state_class: total_increasing
    accuracy_decimals: 3
    restore: true
    filters:
      - multiply: 0.001

light:
  - platform: shelly_dimmer
    name: "${human_devicename}"
    id: dimmer
    icon: ${icon}
    power:
      name: "${human_devicename} Power"
      id: power_dimmer
      unit_of_measurement: W
      device_class: power
      state_class: measurement
    voltage:
      name: "${human_devicename} Voltage"
      unit_of_measurement: V
      device_class: voltage
      state_class: measurement
      entity_category: diagnostic
    current:
      name: "${human_devicename} Current"
      unit_of_measurement: A
      device_class: current
      state_class: measurement
      entity_category: diagnostic
    min_brightness: 460
    max_brightness: 1000
    firmware:
      version: "51.6"
      update: true
