esphome:
  name: ${devicename}
  project:
    name: "Sonoff.S31"
    version: "1.0"

esp8266:
  board: esp01_1m
  restore_from_flash: true

preferences:
  flash_write_interval: 10min

wifi:
  min_auth_mode: WPA2

# Turn on the web server
web_server:

# Turn on the prometheus /metrics endpoint
prometheus:

logger:
  baud_rate: 0 # (UART logging interferes with cse7766)

# Device Specific Config
uart:
  rx_pin: RX
  baud_rate: 4800
  parity: EVEN

binary_sensor:
  - platform: gpio
    pin:
      number: GPIO0
      mode: INPUT_PULLUP
      inverted: True
    name: "${human_devicename} Button"
    on_multi_click:
      - timing:
          - ON for at most 1s
          - OFF for at least 0.2s
        then:
          - switch.toggle: relay
      - timing:
          - ON for at least 4s
        then:
          - button.press: restart_button

sensor:
  - platform: cse7766
    current:
      name: "${human_devicename} Current"
      id: "${devicename}_current"
      unit_of_measurement: A
      device_class: current
      state_class: measurement
      entity_category: diagnostic
      accuracy_decimals: 2
      filters:
        - skip_initial: 1
        - throttle_average: 20s
    voltage:
      name: "${human_devicename} Voltage"
      id: "${devicename}_voltage"
      unit_of_measurement: V
      device_class: voltage
      state_class: measurement
      entity_category: diagnostic
      accuracy_decimals: 2
      filters:
        - skip_initial: 1
        - throttle_average: 20s
    power:
      name: "${human_devicename} Power"
      id: "${devicename}_power"
      unit_of_measurement: W
      device_class: power
      state_class: measurement
      accuracy_decimals: 2
      filters:
        - skip_initial: 1
        - throttle_average: 20s
  - platform: integration
    name: "${human_devicename} Total Energy"
    sensor: "${devicename}_power"
    time_unit: h
    unit_of_measurement: kWh
    device_class: energy
    state_class: total_increasing
    accuracy_decimals: 3
    restore: true
    filters:
      - multiply: 0.001

switch:
  - platform: gpio
    name: "${human_devicename} Relay"
    pin: GPIO12
    id: relay
    icon: ${icon}
    restore_mode: RESTORE_DEFAULT_ON

# Treat the Blue LED like any other light
output:
  - platform: esp8266_pwm
    pin: GPIO13
    inverted: True
    id: led_blue

light:
  - platform: monochromatic
    name: "${human_devicename} Blue LED"
    output: led_blue
    id: light_led_blue
    icon: mdi:led-on
    default_transition_length: 2s
# If needed, here's how to revert the LED to just a normal
# status light!
#status_led:
#  pin: GPIO13
