#
# This is a pretty basic HA config, for now at least. :)
#

default_config:

homeassistant:
  name: April's Nest
  country: US
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  elevation: !secret home_elevation
  unit_system: imperial
  time_zone: America/Los_Angeles
  internal_url: !secret home_internal_url
  legacy_templates: false
  customize: !include customizations.yaml

http:
  use_x_forwarded_for: true
  trusted_proxies: 10.3.2.5

# Text to speech
tts:
  - platform: cloud

group: !include groups.yaml
automation manual: !include_dir_merge_list automation/
automation ui: !include automations.yaml
script: !include scripts.yaml
scene: !include_dir_list scenes/

homekit: !include homekit.yaml

zone: !include zones.yaml

# Templated lights
light: !include lights.yaml

# Templated covers
cover: !include covers.yaml

# Enable streaming cameras
ffmpeg:
  ffmpeg_bin: /usr/bin/ffmpeg
stream:
  ll_hls: true
  part_duration: 0.75 # Range of 0.2 to 1.5
  segment_duration: 6 # Range of 2 to 10

# MQTT Config
mqtt: !include mqtt.yaml

# Manually-defined sensors
binary_sensor: !include binary_sensors.yaml
sensor: !include_dir_merge_list sensor/
input_number: !include input_number.yaml
utility_meter: !include utility_meter.yaml

climate: !include_dir_merge_list climate/

# Enable iOS stuff
#ios: !include ios.yaml

# Turn on themes
frontend:
  themes: !include_dir_merge_named themes

# Telegram bot config
telegram_bot: !include telegram.yaml

# Use PostgreSQL for our recorder DB
recorder:
  db_url: !secret pgsql_connection_uri
  db_retry_wait: 15 # Wait 15 seconds before retrying
  exclude:
    domains:
      - automation
      - updater
    entity_globs:
      - sensor.weather_*
    entities:
      - sun.sun # Don't record sun data
      - sensor.last_boot # Comes from 'systemmonitor' sensor platform
      - sensor.date
    event_types:
      - call_service # Don't record service calls

# Notification group for alerts
notify:
  - platform: telegram
    name: bunny_telegram
    chat_id: !secret bunny_telegram_id
  - platform: telegram
    name: aprils_nest_telegram_group
    chat_id: !secret aprils_nest_telegram_group_id
  - platform: telegram
    name: lil_bun_watch_telegram_group
    chat_id: !secret lil_bun_watch_group_id
  - name: aprils_devices
    platform: group
    services:
      - service: mobile_app_april_s_phone
      - service: aprils_nest_telegram_group

# Toss our metrics to influxdb so we can keep lots of history
influxdb:
  api_version: 2
  ssl: false
  host: 10.3.2.5
  port: 8086
  token: !secret influxdb_token
  organization: !secret influxdb_organization
  bucket: "Home Assistant"
  tags:
    source: HA
  tags_attributes:
    - friendly_name
  default_measurement: units
