

text_sensor:
  - platform: version
    name: "${human_devicename} ESPHome Version"

# Enable Home Assistant API
api:
  encryption:
    key: !secret api_encryption_key

ota:
  - platform: esphome
    password: !secret esphome_ota_password

# esphome will (correctly) guess the timezone from whichever
# of my devices is running the update
time:
  - platform: sntp
    id: sntp_time
    servers: 10.3.2.6
    on_time_sync:
      then:
        - logger.log: "Time synced from dutch"

# It's handy to have the uptime of the device recorded
sensor: 
  - platform: uptime
    name: "${human_devicename} Uptime"
    update_interval: 60s

binary_sensor:
  - platform: status
    name: "${human_devicename} Status"

button:
  - platform: restart
    id: restart_button
    name: "${human_devicename} Restart Normally"
  - platform: safe_mode
    name: "${human_devicename} Restart in Safe Mode"
    id: power_button
  - platform: shutdown
    name: "${human_devicename} Shutdown"
    id: shutdown_button
