
#
# Log to MQTT
#
#  "discovery" is false here because we use the HA API to talk to HA. MQTT is
#  for debugging purposes only.
#

mqtt:
  broker: 10.9.1.5
  client_id: ${devicename}
  discovery: false
  discovery_retain: false
  topic_prefix: esphome
  log_topic: esphome/logs/${devicename}
  birth_message:
    topic: esphome/status
    payload: "${devicename} online"
    retain: true
  will_message:
    topic: esphome/status
    payload: "${devicename} offline"
    retain: true
