substitutions:
  devicename: doorbell
  human_devicename: Doorbell
  ip: 10.9.1.221

packages:
  wifi: !include common/wifi.yaml
  base: !include common/base.yaml
  esp32: !include common/device-classes/esp32-idf.yaml


binary_sensor:
  - platform: gpio
    pin: 14
    name: "Doorbell"
    icon: mdi:doorbell
    filters:
      - delayed_off: 150ms

