substitutions:
  devicename: entryway-sensor
  human_devicename: Entryway Sensor
  version: "25.2.21.2"
  device_description: ${devicename} made by Apollo Automation - version ${version}.
  ip: 10.9.1.204

packages:
  msr2: !include common/apollo-msr2.yaml
