substitutions:
  devicename: sewing-table-light
  human_devicename: Sewing Table Light
  ip: 10.9.1.243

packages:
  wifi: !include common/wifi.yaml
  base: !include common/base.yaml
  esp32s2: !include common/device-classes/lolin_s2_mini.yaml

logger:

light:
  - platform: esp32_rmt_led_strip
    chipset: SK6812
    rgb_order: GRB
    is_rgbw: true
    pin: GPIO16
    num_leds: 144
    icon: mdi:led-strip
    name: "Sewing Table Light"
