substitutions:
  devicename: workbench-lights
  human_devicename: Workbench Lights
  ip: 10.9.1.242

packages:
  wifi: !include common/wifi.yaml
  base: !include common/base.yaml
  esp32: !include common/device-classes/esp32-arduino.yaml

logger:

light:
  - platform: esp32_rmt_led_strip
    chipset: SK6812
    rgb_order: GRB
    is_rgbw: true
    pin: GPIO13
    num_leds: 144
    icon: mdi:led-strip
    name: "Workbench Lights"
